.App {
  position: relative;
  width: 40vw;
  height: 90vh;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.5),
    -10px -10px -10px rgba(0, 0, 0, 0.8),
    inset 15px 15px 15px rgba(255, 255, 255, 0.5),
    inset -15px -15px -15px rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
}

.logo {
  width: 200px;
  margin: auto;
  text-align: center;
  color: #45a8f0;
  margin-bottom: 3rem;
}
